[user]
	name = Tony Duckles
	email = tony@nynim.org

[alias]
	# Simple aliases
	ci           = commit
	st           = status -sb
	br           = branch
	co           = checkout
	tags         = tag -n1 -l
	# Log helpers
	ll           = log -16 --pretty='format:%C(yellow)%h%Creset %s%C(green bold)%d%Creset %C(black bold)(by %an, %ar)%Creset'
	lll          = log     --pretty='format:%C(yellow)%h%Creset %s%C(green bold)%d%Creset %C(black bold)(by %an, %ar)%Creset'
	graph        = log --all --graph --topo-order --pretty='format:%C(yellow)%h%Creset %s %C(black bold)(by %an)%Creset%C(green bold)%d%Creset%n'
	# Remote helpers
	track        = !git-track
	incoming     = !git-incoming
	in           = !git-incoming
	outgoing     = !git-outgoing
	out          = !git-outgoing
	# Branch helpers
	bd           = !git-brdate
	bv           = !git branch --color -vv
	cv           = !git-cv
	subtree      = !git-subtree
	# Diff helpers
	df           = diff --patience
	dfc          = diff --patience --cached
	# Misc
	root         = rev-parse --show-toplevel
	sh           = !git-sh
	thanks       = !git-thanks
	who          = shortlog -s --
	sup          = !git-subup
	fp           = format-patch --stdout

[core]
	filemode = true
	logallrefupdates = true
	whitespace = space-before-tab, trailing-space
	excludesfile = ~/.gitignore_global

[diff]
	renames = copies

[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = tony@nynim.org

[color]
	ui = auto

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "branch"]
	current = yellow reverse
	local = yellow bold
	remote = green
	plain = red bold

[color "status"]
	added = yellow
	changed = green bold
	untracked = blue bold

[push]
	default = matching
